body {
  background-image: url(./assets/starlight_rancho.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}
.nav-item,
h2,
.card-text,
label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand,
h1,
.card-title,
legend {
  font-family: "Voltaire", sans-serif;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  filter: drop-shadow(30px 10px 4px #4444dd);
}
.marginL {
  margin-left: 65%;
}
#emailHelp {
  color: white;
}
.card {
  filter: drop-shadow(7px 5px 2px #4444dd);
}
